.feynman {
  display: flex;
  background-color: #F2F2F2;
  flex-direction: column;
  min-height: 890px;
  position: relative;
  background-image: url(../../images/feinman.png);
  background-repeat: no-repeat;
  background-position: left 0 bottom 0;

  }






