@import url(./__triangle/kaufman__triangle.css);
@import url(../../blocks/table/__cell/_theme_dark/table__cell_theme-dark.css);

.kaufman {
  background-color: #1f1f1f;
  position: relative;
  overflow: hidden;

}





