.header__title {
  margin: 0;
  width: 730px;
  margin-left: 64px;
  line-height: 96px;
  font-size: 102px;
  font-family: 'Inter', 'Arial', sans-serif;
  font-weight: bold;
  align-self: center;
  z-index: 2;
  }
